///////////////////////////////////////////////////////////////////////////////
// Nathanial Hapeman's Resume Website v2.0
// File: general.scss
// Purpose: Define reusable classes for project.
///////////////////////////////////////////////////////////////////////////////

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: $text-font-stack;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: $text1;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 100%;
}

img,
svg {
    max-width: 100%;
}

// Basic styles for links
a {
    color: $color1;
    text-decoration: none;

    // &:hover,
}

p, ul, ol, span, a {
    font-size: 1.6rem;
    //line-height: 1.6rem;
    //margin: 1.2rem 0 -1.2rem;
    //padding-bottom: 1.2rem;
}

// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

.box-shadow {
    box-shadow: 0 4px 6px 0 $shadow;
}
